.breadcrumbs {
	padding: 19px 0 21px;

	@include vp-1023 {
		padding: 20px 0;
	}

	@include vp-767 {
		padding: 16px 0 9px;
	}

	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		align-items: center;
		gap: 10px;

		@include vp-767 {
			gap: 6px;
		}
	}

	&__item {
		display: flex;
		position: relative;

		&:not(:first-child) {
			padding: 0 0 0 15px;

			@include vp-767 {
				padding: 0 0 0 10px;
			}

			&::before {
				content: '/';
				position: absolute;
				top: 50%;
				left: 0px;
				transform: translateY(-50%);
				font-weight: 500;
				font-size: 12px;
				line-height: 16px;
				color: $color-bokara-grey;

				@include vp-767 {
					font-size: 10px;
					line-height: 12px;
				}
			}
		}

		&:last-child {
			overflow: hidden;
		}
	}

	&__link {
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		color: $color-bokara-grey;
		white-space: nowrap;
		transition: color 0.2s ease;
		outline: none;

		@include vp-767 {
			font-size: 10px;
			line-height: 12px;
		}

		&:not(a) {
			color: $color-cloudy;
			text-overflow: ellipsis;
			overflow: hidden;
			display: block;
		}

		&:hover,
		&:focus-visible {
			color: $color-cloudy;
		}
	}
}