@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish-regular.woff2") format("woff2"),
    url("../fonts/mulish-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish-regular.woff2") format("woff2"),
    url("../fonts/mulish-regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}