// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-bokara-grey: #141211;
$color-hint-of-red: #f4f3f2;
$color-soft-peach: #EAE6E5;
$color-cloudy: #B5AFA6;
$color-mischka: #A8A9AE;
$color-swiss-coffee: #D7CFCB;
$color-cloudy: #AEA29A;
$color-moon-mist: #C8C8B6;
$color-green-white: #DEDED2;

$color-black-04: rgba($color-black, 0.04);
$color-black-08: rgba($color-black, 0.08);
$color-black-40: rgba($color-black, 0.4);
$color-black-20: rgba($color-black, 0.2);

// Typography
$ff-mulish: "Mulish", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;