.main-nav {
	max-width: 700px;
	width: 100%;

	@include vp-1023 {
		display: none;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px 50px;

		@media (max-width: 1179px) {
			gap: 10px 20px;
		}
	}

	&__item {
		display: flex;
	}

	&__link {
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		color: $color-bokara-grey;
		outline: none;
		transition: color 0.2s ease;

		&:hover,
		&:focus-visible {
			color: $color-cloudy;
		}
	}
}
